<%- include('layouts/admin-layout') %>

<h2>Add New Category</h2>
<form method="POST" action="/admin/add-category">
  <div>
    <label for="name">Category Name</label>
    <input type="text" name="name" required>
  </div>

  <div>
    <button type="submit">Save</button>
    <a href="/admin/all-categories">Cancel</a>
  </div>
</form>
