<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/admin.css">
  <title>Admin Dashboard</title>
</head>
<body>
  <header>
    <h1>Admin Dashboard</h1>
  </header>
  <aside>
    <ul>
      <li><a href="/admin/all-blogs">All Blogs</a></li>
      <li><a href="/admin/add-blog">Add New Blog</a></li>
      <li><a href="/admin/all-categories">All Categories</a></li>
      <li><a href="/admin/add-category">Add New Category</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </aside>
  <main>
    <%- body %> <!-- This is where the content from each page will be injected -->
  </main>
</body>
</html>
